# local package install like get_data, load_data, split_data etc
-e .

# Third party packages
##flake8 lib is use track the goodness of code as per PEP8 standards
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox
flake8
flask
gunicorn